  @font-face {
    font-family: popping-light;
    src: url(Poppins/Poppins-Light.ttf);
  }

@font-face {
  font-family: popping-bold;
  src: url(Poppins/Poppins-Bold.ttf);
}

  body {
  margin:0px;
  padding:0px;
  font-family: popping-light;
  font-size:16px;
  box-sizing: border-box;
  background: -webkit-linear-gradient(rgba(238, 238, 238, 0.397),rgba(12, 90, 116, 0.486));
  text-align: center;
    }

  section {
  clear: both;
}
  
main {
  width : 90%;
  text-align: center;
  margin:0 auto;
}

  h1 {

    font-size:10rem;
    background: -webkit-linear-gradient(#eee,rgb(139, 197, 216));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(5px 2px 2px);
    margin-top:50px;
    letter-spacing:6rem;
    text-decoration:underline overline rgb(142, 177, 189);
    text-underline-position:under;
    text-decoration-thickness: 07px;
    margin-bottom:30px;
      
  }

    h2 {
    display:block;
    font-size:3rem;
    letter-spacing: 0.8rem;
    padding:20px; 
    background: -webkit-linear-gradient(#eee, rgb(110, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  p {
    font-size: 1rem;
    color:black;
    text-shadow:0px 2px 5px rgb(172, 169, 169);
    padding:20px;
    
  }

  p::first-letter {
  font-size: 40px;
  color: #844fb6;
}

p::first-line {
  font-family: popping-bold;
  font-size: 1.2rem;
}
 
  ul {

    list-style: none;
  }
  
  img {
   
  width:60%;
  filter: drop-shadow(10px 10px 05px black);
  cursor:pointer;
  transition:1s;
}

img:hover {

  filter: invert(100%);
  transform:scale(1.2);
  filter: drop-shadow(10px 10px 05px rgb(236, 241, 157));
}

li {
  cursor: pointer;
  transition:ease-in-out 0.8s;
  border-radius: 25%;
}

li:hover {

  background: -webkit-linear-gradient(rgba(238, 238, 238, 0.397),rgba(15, 107, 138, 0.486));
  transform: scale(1.05);
}

   /* Responsive design for mobile */



@media only screen and (max-width:600px)
{

  
 h1 {
   font-size:5rem;
   letter-spacing: 2.5rem;
  
}

h2 {
  font-size:3rem;
  margin-top:50px;
 
}

h3 {

  font-size:1.5rem;
  margin-top:50px;
}
}

/* Responsive design between 600 & 1024px screen  */


@media only screen and (min-width:600px) and (max-width:1024px)
{
  
  h1 {
  font-size:9rem;
  letter-spacing: 2rem;
  
}

h2 {

  font-size:3rem;
  margin-top:50px;
  padding:20px;
  letter-spacing: 0.8rem;
}

h3 {

  font-size:1rem;
  margin-top:50px;
  padding:20px;
}

p{
  font-size: 0.8rem;
  }


.grid-floats li:nth-child(n+1) {
   float:left;
   width:50%;
  height:500px;
  cursor:pointer;
  transition:1s;
}
.grid-floats li:nth-child(n+3) {
  
 float:left; 
  width:33.3%;
  height:550px;
}
 

/* Flex Start Here */ 

.grid-flex {

  display: flex;
  flex-wrap: wrap;
  }

.grid-flex li:nth-child(n+1)
 {
  width:50%;
}
.grid-flex li:nth-child(n+3) {
  width:33.3%;
}

}

/* here starts the styling for screen more than 1024px */


@media only screen and (min-width: 1024px)
{

h3 {

  font-size:1rem;
  margin-top:50px;
  padding:10px;
}

.grid-floats li:first-child img {
  width:50%;
 }

.grid-floats li:first-child {
  float:left; 
  width:50%;
  height:600px;
}


.grid-floats li:nth-child(2) {
  float:left; 
  width:25%;
  height:600px;
  
}

.grid-floats li:nth-child(3) {
  
 float:left; 
  width:25%;
  height:600px;
}

.grid-floats li:nth-child(n+4) {
  
 float:left; 
  width:25%;
  height:550px;
}
 

/* Flex Start Here */ 

.grid-flex {

  display: flex;
  flex-wrap: wrap;
  width:100%;
  }

.grid-flex li {

  width:25%;
}

.grid-flex li:nth-child(1) {

  width:50%;
}

.grid-flex li:nth-child(2) {

  width:25%;
}

.grid-flex li:nth-child(3) {

  width:25%;
}




}
