  @font-face {
    font-family: popping-light;
    src: url(Poppins/Poppins-Light.ttf);
  }

@font-face {
  font-family: popping-bold;
  src: url(Poppins/Poppins-Bold.ttf);
}

  body {
  margin:0px;
  padding:0px;
  font-family: popping-light;
  font-size:16px;
  box-sizing: border-box;
  background: -webkit-linear-gradient(rgba(238, 238, 238, 0.397),rgba(29, 169, 216, 0.486));
    }
  
main {

  width : 100%;
  text-align: center;
  margin:0 auto;

}
  h1 {

    font-size:10rem;
    text-align: center;
    background: -webkit-linear-gradient(#eee,rgb(139, 197, 216));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(5px 2px 2px);
    margin:0px;
    padding:0px;
    margin-top:50px;
    letter-spacing:6rem;
    text-decoration:underline overline rgb(142, 177, 189);
    text-underline-position:under;
    text-decoration-thickness: 07px;
      
      }

  h2 {

    font-size: 10rem;
    text-align: center;
    color:white;
    filter: drop-shadow(5px 5px 5px black);
    letter-spacing: 20px;
      
  }

  h3 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 10px;
  }

  p {
    font-size: 1rem;
    color:black;
    text-shadow:0px 2px 5px rgb(172, 169, 169);
    font-weight:600;
  }

  ul {

    list-style: none;
  }

 

 
   img {
   
  width:60%;
  filter: drop-shadow(10px 10px 05px black);
  cursor:pointer;
}

img:hover {

  background-color:white;
}


  

   /* Responsive design for mobile */



@media only screen and (max-width:600px)
{

  
 h1 {
   font-size:6rem;
   letter-spacing: 2rem;
  
}

h2 {

  font-size:3rem;
  margin-top:50px;
}

h3 {

  font-size:1.5rem;
  margin-top:50px;
}
}




 /* Responsive design between 600 & 1024px screen  */


@media only screen and (min-width:600px) and (max-width:1024px)
{
  
    h1 {
   font-size:9rem;
   letter-spacing: 2rem;
  
}

h2 {

  font-size:3rem;
  margin-top:50px;
  padding:20px;
  letter-spacing: 10px;
}

h3 {

  font-size:1rem;
  margin-top:50px;
  padding:20px;
}

p{
  font-size: 0.8rem;
  padding:20px;
}


.grid-floats li:nth-child(n+1) {
   float:left;
   width:47%;
  height:500px;
}
 
.grid-floats li:nth-child(n+3) {
  
 float:left; 
  width:33.3%;
  height:550px;
}
 

/* Flex Start Here */ 

.grid-flex {

  display: flex;
  flex-wrap: wrap;
  }

.grid-flex li:nth-child(n+1)
 {

  width:50%;
  
  
}
  

.grid-flex li:nth-child(n+3) {

  width:33.3%;
}

}

/* here starts the styling for screen more than 1024px */


@media only screen and (min-width: 1024px)
{

    h1 {
   font-size:9rem;
   letter-spacing: 2rem;
  
}

h2 {

  font-size:3rem;
  margin-top:50px;
  letter-spacing: 10px;
}

h3 {

  font-size:1rem;
  margin-top:50px;
  padding:10px;
}

p{

  padding:20px;
}

.grid-floats li:nth-child(n+1) {
  
 float:left; 
  width:50%;
  height:550px;
}
 
.grid-floats li:nth-child(n+3) {
  
 float:left; 
  width:25%;

  height:550px;
}
 
/* Flex Start Here */ 

.grid-flex {

  display: flex;
  flex-wrap: wrap;
  }

.grid-flex li:nth-child(n+1) {

  width:50%;
}
  

.grid-flex li:nth-child(n+3) {

  width:25%;
}


}
